**/Output/**/*.log
**/Output/**/*.csv
**/Output/**/*.json
**/Output/**/*.txt
**/Logs/**
*.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

*.zip
artifacts/
build/

Thumbs.db
.DS_Store
*.ps1xml
